# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# binary built if `go build` is run
photo-db-fs

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Debug binary
__debug_bin

# digikam has a few different databases that get generated when you open
# digikam. At the moment the only one we use is the digikam4.db so we can ignore
# all the other ones.
recognition.db
similarity.db
thumbnails-digikam.db

# sqlite journal file for rolling back db changes
digikam4.db-journal