[Unit]
Description=photo-db-fs FUSE file system server

[Service]
Type=simple
ExecStart=/home/anitschk/go/bin/photo-db-fs --mount-point /srv/media/photo-db-fs --db-type digikam-sqlite --db-source /srv/media/digiKamDB/digikam4.db

[Install]
WantedBy=default.target

# xxx https://superuser.com/questions/390348/a-systemd-script-for-s3ql-remote-fuse-mounting
# use NetworkManager-wait-online.service